---
title:
description:
---
/ Begin page content
.container
  .page-header
    %h1
      NotGrm
      %small aka Jeremy Bertrand
  %p.lead
    %a{"data-original-title" => "Hello in Hawaiian", "data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => ""}> Aloha
    \.
    I'm a french developper, who live in Caen, and I currently work for
    %a{:href => "http://www.6cure.com"} 6cure
    \.
  %hr
  .row-fluid
    .span9
      %h3 You can also find me here !
      - data.links.categories.each do |category|
        %h5= category.name
        .row-fluid
          - category.links.to_a.each do |link|
            .span3= link_to link.name, link.url, class: "btn btn-small btn-danger my-btn btn-block"
    .span3
      %p
        %h3 Keywords ?
        %ul.inline
          - data.keywords.keywords.each do |keyword|
            %li
              %span.label.my-label= keyword
  #push
